		<script>
			$( document ).ready(function() {
		  		setTopNav('Support');  // Handler for .ready() called.
			});			
		</script>
		<style>
			.bPageBlock .pbHeader .listHeader{
				padding-top:1px;
				text-align:center;
				vertical-align:middle;
			}
			.btn{ 
				padding:7px 3px; 
				background: #EBB142; color: #000; 
				border: none; font-size:12px; 
				-webkit-border-radius: 3px; 
				-moz-border-radius: 3px; 
				border-radius: 3px; 
			}
		</style>
		<form action="new">
			<div class="pbHeader"><div class="listHeader"><span>
			<input value="New Case" class="btn" name="newCase" title="New Case" type="submit"></span></div></div>
		</form>
		<div class="bPageBlock">
		<table>
		<tr>
			<th>Case Number</th>
			<th>Subject</th>
			<th>Status</th>
			<th>Priority</th>
			<th>Contact Name></th>
			<th>Site/URL/Acct.#</th>
		</tr>
		<% @cases.each do |_case| %>
			<tr>
				<td><a href="case?id=<%= _case.CaseNumber %>"><div style="color:#000"><%= _case.CaseNumber %></div></a></td>
				<td><%= _case.Subject %></td>
				<td><%= _case.Status %></td>
				<td><%= _case.Priority %></td>
				<td><%= _case.Primary_Contact__c %></td>
				<td><%= _case.Site_URL_Acct__c %></td>
			</tr>
		<% end %>
		</table>
		</div>

